:root {
    /*Colors variables*/
    --azul: #2A7AE4;
    --azul-fraco: #EAF2FD;
    --cinza-forte: #464646;
    --conza-fraco: #A2A2A2;
    --branco: #f2f2f2;

    /*Fonts variables*/
    --fonte-padrao: 'Work Sans', sans-serif;
    --fonte-raleway: 'Raleway', sans-serif;
}

.container {
    padding: 2rem 8%;
}