:root {
    /*Colors variables*/
    --azul: #2A7AE4;
    --azul-fraco: #EAF2FD;
    --azul-forte: #2a2de4;
    --cinza-forte: #464646;
    --cinza-fraco: #d8d8d8;
    --branco: #fcfcfc;

    /*Fonts variables*/
    --fonte-padrao: 'Work Sans', sans-serif;
    --fonte-raleway: 'Raleway', sans-serif;
}
body {
    background-color: var(--branco);
}

.container {
    padding: 2rem 8%;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 2rem 3%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding: 2rem 4%;
    }
}