.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo-e-pesquisa {
    display: flex;
    width: 60%;
}

.cabecalho__pesquisa {
    display: flex;
    background-color: #F5F5F5;
    border-radius: 15px;
    padding: .3rem 1rem;
    justify-content: space-between;
    width: 55%;
}

.cabecalho__entrada {
    color: var(--cinza-fraco);
    border: none;
    background-color: transparent;
    width: 100%;
}

.cabecalho__entrada:focus {
    outline: none;
}

.cabecalho__pesquisar {
    border: none;
    background-color: transparent;
    padding: 0;
}

.cabecalho__lipa {
    background-color: transparent;
    padding: 0;
}

.cabecalho__login {
    color: var(--azul);
    font-family: sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid var(--azul);
    padding: 1rem 4rem;
}