.sobre__lista {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre__item {
    font-family: var(--fonte-raleway);
}

.sobre__link {
    text-decoration: none;
    color: var(--preto);
}