.tema__conteudo {
    display: flex;
    justify-content: space-between;
}

.tema__imagem, .tema__nome-produto, .tema__preco {
    padding-bottom: .5rem;
    font-family: var(--fonte-raleway);
}

.tema__nome-produto {
    font-size: .85rem;
}

.tema__preco {
    font-weight: 700;
}

.tema__ver-produto {
    text-decoration: none;
    color: var(--azul);
    font-family: var(--fonte-raleway);
    font-size: .85rem;
    font-weight: bold;
}